<script>
  import Tailwindcss from "./components/Tailwindcss.svelte";
  import Icon from 'svelte-awesome';
  import Button from "./components/Button.svelte";
  import Textfield from "./components/Textfield.svelte";
  
  let initialPromptHidden = "";
  let formHidden = "hidden opacity-0";

  function yesClicked(){
    setTimeout(()=>{
      formHidden = "";
    }, 1000);
    initialPromptHidden = "fadeOut";
  }

  function submitEmail(){
    console.log("email submitted");
    // TODO: EMAIL SUBSRCIPTION
  }
</script>

<style>

  @media (max-width: 800px) {
    #main-container{
      overflow: hidden;
    }
  }
  
  #main-form{
    position: absolute;
    bottom: 4%;
    left: 1rem;
    right: 1rem;
    
  }
  
  .fadeIn {
    animation: fadeIn 1.3s ease-in 1.6s forwards;;
    -moz-animation: fadeIn 1.3s ease-in 1.6s forwards; /* Firefox */
    -webkit-animation: fadeIn 1.3s ease-in 1.6s forwards; /* Safari and Chrome */
    -o-animation: fadeIn 1.3s ease-in 1.6s forwards; /* Opera */
  }

  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange; */ /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(100, end),
      blink-caret 3s step-end infinite;
}

.fadeOut{
    animation: 1s fadeOut both;
    -webkit-animation: 1s fadeOut both;
    -moz-animation: 1s fadeOut both;
  }
.inPill{
  margin-left: -5.7rem;
}


  @keyframes fadeIn{
      0%{
        opacity: 0;
  }
      100%{
        opacity: 1;
    }
  }

   @keyframes fadeOut{
      0%{
        opacity: 1;
  }
      100%{
        opacity: 0;
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes cloudfly
  {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
  }
</style>

<Tailwindcss />



<div id="main-container" class="w-full">

<div class="relative">
  <div id="main-form" class="text-center ">

    <div class={`${initialPromptHidden}`}>
      <div class="typewriter">
        <h1 class="text-white text-2xl">Want a cool logo, video, website or app?</h1>
      </div>
    
      <div class="fadeIn opacity-0">
        <Button rounded={true} btnText="yes!" on:click={yesClicked}/>
      </div>
    </div>

    <div class={`${formHidden}`}>
      
      <Textfield placeHolder="your email..." />
      <span class="inPill">
        <Button rounded={true} btnText="send" on:click={submitEmail} />
      </span>
      
    </div>
  </div>

  <div id="background" class="">
    <svg viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin meet">
     
      <g id="InitialWelcomeScreen" clip-path="url(#clip0)">
        <g id="Background1">
          <path id="Vector" d="M1920 0H0.2V1080H1920V0Z" fill="#01B4FD" />
          <path id="Vector_2" opacity="0.1" d="M1920 0H0.2V1080H1920V0Z" fill="url(#paint0_radial)" />
        </g>
        <g id="Skyline">
          <path id="Vector_3" opacity="0.1" d="M1920 -0.299988H0.2V225.2H1920V-0.299988Z" fill="#E5EDEF" />
          <path id="Vector_4" opacity="0.1" d="M1920 238.5H0V258H1920V238.5Z" fill="#E5EDEF" />
          <path id="Vector_5" opacity="0.1" d="M1920 277.2H0V286.9H1920V277.2Z" fill="#E5EDEF" />
        </g>
        <g id="Frame">
          <g id="Buildings">
            <path id="Vector_6" d="M674.1 614H575.1C568.5 614 563.1 608.6 563.1 602V367C563.1 360.4 568.5 355 575.1 355H674.1C680.7 355 686.1 360.4 686.1 367V602C686.1 608.6 680.7 614 674.1 614Z" fill="#06A7FF" />
            <path id="Vector_7" d="M1218 743.5H1075.1C1047.9 743.5 1025.7 721.3 1025.7 694.1V533.9C1025.7 506.7 1047.9 484.5 1075.1 484.5H1218C1245.2 484.5 1267.4 506.7 1267.4 533.9V694.1C1267.4 721.3 1245.2 743.5 1218 743.5Z" fill="#06A7FF" />
            <path id="Vector_8" opacity="0.9" d="M409.3 791.2H296.8V392.5C296.8 361.4 322 336.3 353 336.3C384.1 336.3 409.2 361.5 409.2 392.5V791.2H409.3Z" fill="#06A7FF" />
            <path id="Vector_9" d="M360.6 778.1H248.1V572.3C248.1 541.2 273.3 516.1 304.3 516.1C335.4 516.1 360.5 541.3 360.5 572.3V778.1H360.6Z" fill="#0CACFE" />
            <path id="Vector_10" opacity="0.9" d="M1490.5 745H1378V539.2C1378 508.1 1403.2 483 1434.2 483C1465.3 483 1490.4 508.2 1490.4 539.2V745H1490.5Z" fill="#06A7FF" />
            <path id="Vector_11" d="M1138.2 647.1H1025.7V441.3C1025.7 410.2 1050.9 385.1 1081.9 385.1C1113 385.1 1138.1 410.3 1138.1 441.3V647.1H1138.2Z" fill="#06A7FF" />
            <path id="Vector_12" opacity="0.5" d="M359.6 419.5H296.8V404.3H359.6C363.8 404.3 367.2 407.7 367.2 411.9C367.2 416.1 363.8 419.5 359.6 419.5Z" fill="#26BDF9" />
            <path id="Vector_13" opacity="0.5" d="M359.6 448.6H296.8V433.4H359.6C363.8 433.4 367.2 436.8 367.2 441C367.2 445.2 363.8 448.6 359.6 448.6Z" fill="#26BDF9" />
            <path id="Vector_14" opacity="0.5" d="M359.6 477.7H296.8V462.5H359.6C363.8 462.5 367.2 465.9 367.2 470.1C367.2 474.3 363.8 477.7 359.6 477.7Z" fill="#26BDF9" />
            <path id="Vector_15" opacity="0.5" d="M310.9 641.3H248.1V626.1H310.9C315.1 626.1 318.5 629.5 318.5 633.7C318.5 637.9 315.1 641.3 310.9 641.3Z" fill="#26BDF9" />
            <path id="Vector_16" opacity="0.5" d="M342.9 419.5H332.8C328.6 419.5 325.2 416.1 325.2 411.9C325.2 407.7 328.6 404.3 332.8 404.3H342.9C347.1 404.3 350.5 407.7 350.5 411.9C350.5 416.1 347.1 419.5 342.9 419.5Z" fill="#1AC6FF" />
            <path id="Vector_17" opacity="0.5" d="M342.9 448.6H332.8C328.6 448.6 325.2 445.2 325.2 441C325.2 436.8 328.6 433.4 332.8 433.4H342.9C347.1 433.4 350.5 436.8 350.5 441C350.5 445.2 347.1 448.6 342.9 448.6Z" fill="#1AC6FF" />
            <path id="Vector_18" opacity="0.5" d="M342.9 477.7H332.8C328.6 477.7 325.2 474.3 325.2 470.1C325.2 465.9 328.6 462.5 332.8 462.5H342.9C347.1 462.5 350.5 465.9 350.5 470.1C350.5 474.3 347.1 477.7 342.9 477.7Z" fill="#1AC6FF" />
            <path id="Vector_19" opacity="0.5" d="M292.9 641.3H282.8C278.6 641.3 275.2 637.9 275.2 633.7C275.2 629.5 278.6 626.1 282.8 626.1H292.9C297.1 626.1 300.5 629.5 300.5 633.7C300.6 637.9 297.1 641.3 292.9 641.3Z" fill="#1AC6FF" />
            <path id="Vector_20" d="M402.9 694.4V266.8C402.9 257.1 410.8 249.2 420.5 249.2H565.4C575.1 249.2 583 257.1 583 266.8V451.6H698V383.6H766V234.6C766 234.6 934.4 213.6 934.4 234.6C934.4 255.6 934.4 388.4 934.4 388.4H968.4V305.8H987.9C1008.4 305.8 1025 322.4 1025 342.9V365.7H1059V543.8H1337.5V526H1326C1324.5 526 1323.4 524.8 1323.4 523.4V510.9C1323.4 509.4 1324.6 508.3 1326 508.3H1337.5V502.6C1337.5 487 1350.2 474.3 1365.8 474.3C1381.4 474.3 1394.1 487 1394.1 502.6V508H1406C1407.5 508 1408.6 509.2 1408.6 510.6V523.5C1408.6 525 1407.4 526.1 1406 526.1H1395.7V540.5H1457.2V618.2H1513.9V478.3C1513.9 460.9 1528 446.7 1545.5 446.7C1562.9 446.7 1577.1 460.8 1577.1 478.3V768.9H413H402.8V694.4H402.9Z" fill="#0CACFE" />
            <path id="Vector_21" d="M1654.7 768.9H1542.2V553.3C1542.2 522.2 1567.4 497.1 1598.4 497.1C1629.5 497.1 1654.6 522.3 1654.6 553.3V768.9H1654.7Z" fill="#0CACFE" />
            <path id="Vector_22" d="M1581.1 645.3H1458.4V768.9H1581.1V645.3Z" fill="#0CACFE" />
            <path id="Vector_23" opacity="0.25" d="M935.3 769.1H780.8V570.4C780.8 559.8 789.4 551.2 800 551.2H916.2C926.8 551.2 935.4 559.8 935.4 570.4V769.1H935.3Z" fill="#11BCFD" />
            <path id="Vector_24" opacity="0.25" d="M1434.3 769.1H1343.2V705.7C1343.2 680.6 1363.6 660.2 1388.7 660.2C1413.8 660.2 1434.2 680.6 1434.2 705.7V769.1H1434.3Z" fill="#11BCFD" />
            <path id="Vector_25" d="M538.3 768.9H447.2V705.5C447.2 680.4 467.6 660 492.7 660C517.8 660 538.2 680.4 538.2 705.5V768.9H538.3Z" fill="#11BCFD" />
            <path id="Vector_26" d="M1353.5 769.1H1304.4V684.7C1304.4 671.1 1315.4 660.2 1328.9 660.2C1342.5 660.2 1353.4 671.2 1353.4 684.7V769.1H1353.5Z" fill="#11BCFD" />
            <path id="Vector_27" d="M1316.5 769.1H1267.4V727.2C1267.4 713.6 1278.4 702.7 1291.9 702.7C1305.5 702.7 1316.4 713.7 1316.4 727.2V769.1H1316.5Z" fill="#11BCFD" />
            <path id="Vector_28" opacity="0.25" d="M591 769.1H499.9V648.9C499.9 623.8 520.3 603.4 545.4 603.4C570.5 603.4 590.9 623.8 590.9 648.9V769.1H591Z" fill="#11BCFD" />
            <path id="Vector_29" opacity="0.25" d="M903.6 551.5H812.5V488.1C812.5 463 832.9 442.6 858 442.6C883.1 442.6 903.5 463 903.5 488.1V551.5H903.6Z" fill="#11BCFD" />
            <path id="Vector_30" d="M805.6 681.9V769.1H790.4V681.9C790.4 677.7 793.8 674.3 798 674.3C802.2 674.3 805.6 677.7 805.6 681.9Z" fill="#0CACFE" />
            <path id="Vector_31" d="M838 681.9V769.1H822.8V681.9C822.8 677.7 826.2 674.3 830.4 674.3C834.6 674.3 838 677.7 838 681.9Z" fill="#0CACFE" />
            <path id="Vector_32" d="M873.2 681.9V769.1H858V681.9C858 677.7 861.4 674.3 865.6 674.3C869.8 674.3 873.2 677.7 873.2 681.9Z" fill="#0CACFE" />
            <path id="Vector_33" d="M908.8 681.9V769.1H893.6V681.9C893.6 677.7 897 674.3 901.2 674.3C905.4 674.3 908.8 677.7 908.8 681.9Z" fill="#0CACFE" />
            <path id="Vector_34" d="M805.6 636.6V657.1C805.6 661.3 802.2 664.7 798 664.7C793.8 664.7 790.4 661.3 790.4 657.1V636.6C790.4 632.4 793.8 629 798 629C802.2 629 805.6 632.4 805.6 636.6Z" fill="#0CACFE" />
            <path id="Vector_35" d="M838 636.6V657.1C838 661.3 834.6 664.7 830.4 664.7C826.2 664.7 822.8 661.3 822.8 657.1V636.6C822.8 632.4 826.2 629 830.4 629C834.6 629 838 632.4 838 636.6Z" fill="#0CACFE" />
            <path id="Vector_36" d="M873.2 636.6V657.1C873.2 661.3 869.8 664.7 865.6 664.7C861.4 664.7 858 661.3 858 657.1V636.6C858 632.4 861.4 629 865.6 629C869.8 629 873.2 632.4 873.2 636.6Z" fill="#0CACFE" />
            <path id="Vector_37" d="M908.8 636.6V657.1C908.8 661.3 905.4 664.7 901.2 664.7C897 664.7 893.6 661.3 893.6 657.1V636.6C893.6 632.4 897 629 901.2 629C905.4 629 908.8 632.4 908.8 636.6Z" fill="#0CACFE" />
            <path id="Vector_38" opacity="0.25" d="M1648.7 558.9V579.4C1648.7 583.6 1645.3 587 1641.1 587C1636.9 587 1633.5 583.6 1633.5 579.4V558.9C1633.5 554.7 1636.9 551.3 1641.1 551.3C1645.3 551.2 1648.7 554.7 1648.7 558.9Z" fill="#11BCFD" />
            <path id="Vector_39" opacity="0.25" d="M1626.1 558.9V579.4C1626.1 583.6 1622.7 587 1618.5 587C1614.3 587 1610.9 583.6 1610.9 579.4V558.9C1610.9 554.7 1614.3 551.3 1618.5 551.3C1622.7 551.2 1626.1 554.7 1626.1 558.9Z" fill="#11BCFD" />
            <path id="Vector_40" opacity="0.5" d="M508.1 313H402.9V297.8H508.1C512.3 297.8 515.7 301.2 515.7 305.4C515.7 309.6 512.3 313 508.1 313Z" fill="#26BDF9" />
            <path id="Vector_41" opacity="0.5" d="M796 320.6H766V305.4H796C800.2 305.4 803.6 308.8 803.6 313C803.6 317.2 800.2 320.6 796 320.6Z" fill="#26BDF9" />
            <path id="Vector_42" opacity="0.5" d="M796 342.5H766V327.3H796C800.2 327.3 803.6 330.7 803.6 334.9C803.6 339.1 800.2 342.5 796 342.5Z" fill="#26BDF9" />
            <path id="Vector_43" d="M1404.3 712.4H1434.2V727.6H1404.3C1400.1 727.6 1396.7 724.2 1396.7 720C1396.7 715.8 1400.1 712.4 1404.3 712.4Z" fill="#0CACFE" />
            <path id="Vector_44" opacity="0.25" d="M477 313H466.9C462.7 313 459.3 309.6 459.3 305.4C459.3 301.2 462.7 297.8 466.9 297.8H477C481.2 297.8 484.6 301.2 484.6 305.4C484.6 309.5 481.2 313 477 313Z" fill="#1AC6FF" />
            <path id="Vector_45" opacity="0.5" d="M1349.1 684.8V694.9C1349.1 697 1347.4 698.7 1345.3 698.7C1343.2 698.7 1341.5 697 1341.5 694.9V684.8C1341.5 682.7 1343.2 681 1345.3 681C1347.4 680.9 1349.1 682.7 1349.1 684.8Z" fill="#2CCDFF" />
            <path id="Vector_46" opacity="0.5" d="M1332.8 684.8V694.9C1332.8 697 1331.1 698.7 1329 698.7C1326.9 698.7 1325.2 697 1325.2 694.9V684.8C1325.2 682.7 1326.9 681 1329 681C1331.1 680.9 1332.8 682.7 1332.8 684.8Z" fill="#2CCDFF" />
            <path id="Vector_47" opacity="0.5" d="M1316.5 684.8V694.9C1316.5 697 1314.8 698.7 1312.7 698.7C1310.6 698.7 1308.9 697 1308.9 694.9V684.8C1308.9 682.7 1310.6 681 1312.7 681C1314.8 680.9 1316.5 682.7 1316.5 684.8Z" fill="#2CCDFF" />
            <path id="Vector_48" d="M1087.1 551.2H996.2C985 551.2 975.9 542.1 975.9 530.9C975.9 519.7 985 510.6 996.2 510.6H1087.1C1098.3 510.6 1107.4 519.7 1107.4 530.9C1107.4 542.2 1098.4 551.2 1087.1 551.2Z" fill="#0CACFE" />
          </g>
        </g>
        <g id="Ground">
          <path id="Vector_49" d="M1919.8 768.9H0V1080H1919.8V768.9Z" fill="#00A3FB" />
          <path id="Vector_50" d="M1919.8 871.9H0V1080H1919.8V871.9Z" fill="#009AF9" />
          <path id="Vector_51" d="M1919.8 837.4H0V851.1H1919.8V837.4Z" fill="#009AF9" />
          <path id="Vector_52" d="M1774.6 810.4H176.9C161.4 810.4 148.7 797.7 148.7 782.2C148.7 766.7 161.4 754 176.9 754H1774.7C1790.2 754 1802.9 766.7 1802.9 782.2C1802.8 797.7 1790.1 810.4 1774.6 810.4Z" fill="#00A3FB" />
          <path id="Vector_53" d="M314.9 802.2H256.8C230.2 802.2 208.6 780.6 208.6 754C208.6 727.4 230.2 705.8 256.8 705.8H314.9C341.5 705.8 363.1 727.4 363.1 754C363.1 780.6 341.5 802.2 314.9 802.2Z" fill="#00A3FB" />
          <path id="Vector_54" d="M1626.5 787.5H1463.2C1456.6 787.5 1451.2 782.1 1451.2 775.5V757C1451.2 750.4 1456.6 745 1463.2 745H1626.5C1633.1 745 1638.5 750.4 1638.5 757V775.5C1638.5 782.1 1633.1 787.5 1626.5 787.5Z" fill="#00A3FB" />
        </g>
       
       
        
        <!-- <path id="text" d="M586.623 922H581.291L576.205 904.117C575.986 903.338 575.713 902.217 575.385 900.754C575.057 899.277 574.858 898.252 574.79 897.678C574.653 898.553 574.428 899.688 574.113 901.082C573.812 902.477 573.56 903.516 573.354 904.199L568.392 922H563.06L559.184 906.988L555.246 892.018H560.25L564.536 909.49C565.206 912.293 565.685 914.768 565.972 916.914C566.122 915.752 566.348 914.453 566.648 913.018C566.949 911.582 567.223 910.42 567.469 909.531L572.35 892.018H577.21L582.214 909.613C582.692 911.24 583.198 913.674 583.731 916.914C583.937 914.959 584.429 912.471 585.208 909.449L589.474 892.018H594.437L586.623 922ZM612.381 922L611.417 918.842H611.253C610.159 920.223 609.059 921.166 607.951 921.672C606.844 922.164 605.422 922.41 603.686 922.41C601.457 922.41 599.714 921.809 598.456 920.605C597.212 919.402 596.59 917.7 596.59 915.499C596.59 913.161 597.458 911.397 599.194 910.208C600.931 909.019 603.576 908.369 607.131 908.26L611.048 908.137V906.927C611.048 905.478 610.706 904.397 610.022 903.687C609.353 902.962 608.307 902.6 606.885 902.6C605.723 902.6 604.608 902.771 603.542 903.112C602.476 903.454 601.45 903.857 600.466 904.322L598.907 900.877C600.138 900.234 601.484 899.749 602.947 899.421C604.41 899.079 605.791 898.908 607.09 898.908C609.975 898.908 612.148 899.537 613.611 900.795C615.088 902.053 615.826 904.028 615.826 906.722V922H612.381ZM605.203 918.719C606.953 918.719 608.354 918.233 609.407 917.263C610.474 916.278 611.007 914.904 611.007 913.141V911.172L608.095 911.295C605.825 911.377 604.171 911.76 603.132 912.443C602.106 913.113 601.594 914.146 601.594 915.54C601.594 916.552 601.895 917.338 602.496 917.898C603.098 918.445 604 918.719 605.203 918.719ZM642.507 922H637.667V908.055C637.667 906.305 637.312 904.999 636.601 904.138C635.903 903.276 634.789 902.846 633.258 902.846C631.221 902.846 629.73 903.447 628.787 904.65C627.844 905.854 627.372 907.87 627.372 910.7V922H622.553V899.318H626.326L627.003 902.292H627.249C627.933 901.212 628.903 900.378 630.161 899.79C631.419 899.202 632.813 898.908 634.345 898.908C639.786 898.908 642.507 901.677 642.507 907.214V922ZM657.662 918.514C658.838 918.514 660.014 918.329 661.189 917.96V921.59C660.656 921.822 659.966 922.014 659.118 922.164C658.284 922.328 657.416 922.41 656.514 922.41C651.947 922.41 649.664 920.004 649.664 915.191V902.969H646.567V900.836L649.89 899.072L651.53 894.273H654.504V899.318H660.964V902.969H654.504V915.109C654.504 916.271 654.791 917.133 655.365 917.693C655.953 918.24 656.719 918.514 657.662 918.514ZM690.844 922L689.88 918.842H689.716C688.622 920.223 687.521 921.166 686.414 921.672C685.307 922.164 683.885 922.41 682.148 922.41C679.92 922.41 678.177 921.809 676.919 920.605C675.675 919.402 675.053 917.7 675.053 915.499C675.053 913.161 675.921 911.397 677.657 910.208C679.394 909.019 682.039 908.369 685.594 908.26L689.511 908.137V906.927C689.511 905.478 689.169 904.397 688.485 903.687C687.815 902.962 686.77 902.6 685.348 902.6C684.186 902.6 683.071 902.771 682.005 903.112C680.938 903.454 679.913 903.857 678.929 904.322L677.37 900.877C678.601 900.234 679.947 899.749 681.41 899.421C682.873 899.079 684.254 898.908 685.553 898.908C688.438 898.908 690.611 899.537 692.074 900.795C693.551 902.053 694.289 904.028 694.289 906.722V922H690.844ZM683.666 918.719C685.416 918.719 686.817 918.233 687.87 917.263C688.937 916.278 689.47 914.904 689.47 913.141V911.172L686.558 911.295C684.288 911.377 682.634 911.76 681.595 912.443C680.569 913.113 680.057 914.146 680.057 915.54C680.057 916.552 680.357 917.338 680.959 917.898C681.561 918.445 682.463 918.719 683.666 918.719ZM721.072 922.41C717.641 922.41 715.029 921.412 713.238 919.416C711.461 917.406 710.572 914.528 710.572 910.782C710.572 906.968 711.502 904.035 713.361 901.984C715.234 899.934 717.935 898.908 721.462 898.908C723.854 898.908 726.008 899.353 727.922 900.241L726.466 904.117C724.429 903.324 722.747 902.928 721.421 902.928C717.497 902.928 715.535 905.532 715.535 910.741C715.535 913.284 716.021 915.198 716.991 916.483C717.976 917.755 719.411 918.391 721.298 918.391C723.444 918.391 725.475 917.857 727.389 916.791V920.995C726.527 921.501 725.604 921.863 724.62 922.082C723.649 922.301 722.467 922.41 721.072 922.41ZM752.839 910.618C752.839 914.323 751.889 917.215 749.988 919.293C748.088 921.371 745.442 922.41 742.052 922.41C739.933 922.41 738.06 921.932 736.433 920.975C734.806 920.018 733.555 918.644 732.68 916.853C731.805 915.062 731.367 912.983 731.367 910.618C731.367 906.94 732.311 904.069 734.197 902.005C736.084 899.94 738.743 898.908 742.175 898.908C745.456 898.908 748.054 899.968 749.968 902.087C751.882 904.192 752.839 907.036 752.839 910.618ZM736.33 910.618C736.33 915.854 738.265 918.473 742.134 918.473C745.962 918.473 747.876 915.854 747.876 910.618C747.876 905.437 745.948 902.846 742.093 902.846C740.069 902.846 738.6 903.516 737.684 904.855C736.781 906.195 736.33 908.116 736.33 910.618ZM778.515 910.618C778.515 914.323 777.564 917.215 775.664 919.293C773.764 921.371 771.118 922.41 767.728 922.41C765.608 922.41 763.735 921.932 762.108 920.975C760.481 920.018 759.23 918.644 758.355 916.853C757.48 915.062 757.043 912.983 757.043 910.618C757.043 906.94 757.986 904.069 759.873 902.005C761.76 899.94 764.419 898.908 767.851 898.908C771.132 898.908 773.729 899.968 775.644 902.087C777.558 904.192 778.515 907.036 778.515 910.618ZM762.006 910.618C762.006 915.854 763.94 918.473 767.81 918.473C771.638 918.473 773.552 915.854 773.552 910.618C773.552 905.437 771.624 902.846 767.769 902.846C765.745 902.846 764.275 903.516 763.359 904.855C762.457 906.195 762.006 908.116 762.006 910.618ZM788.892 922H784.072V890.09H788.892V922ZM811.532 922H806.713V890.09H811.532V922ZM838.562 910.618C838.562 914.323 837.611 917.215 835.711 919.293C833.811 921.371 831.165 922.41 827.774 922.41C825.655 922.41 823.782 921.932 822.155 920.975C820.528 920.018 819.277 918.644 818.402 916.853C817.527 915.062 817.09 912.983 817.09 910.618C817.09 906.94 818.033 904.069 819.92 902.005C821.807 899.94 824.466 898.908 827.897 898.908C831.179 898.908 833.776 899.968 835.69 902.087C837.604 904.192 838.562 907.036 838.562 910.618ZM822.053 910.618C822.053 915.854 823.987 918.473 827.856 918.473C831.685 918.473 833.599 915.854 833.599 910.618C833.599 905.437 831.671 902.846 827.815 902.846C825.792 902.846 824.322 903.516 823.406 904.855C822.504 906.195 822.053 908.116 822.053 910.618ZM863.273 899.318V901.964L859.397 902.682C859.753 903.16 860.047 903.748 860.279 904.445C860.512 905.143 860.628 905.881 860.628 906.66C860.628 908.998 859.821 910.837 858.208 912.177C856.595 913.517 854.373 914.187 851.543 914.187C850.818 914.187 850.162 914.132 849.574 914.022C848.535 914.665 848.016 915.417 848.016 916.278C848.016 916.798 848.255 917.188 848.733 917.447C849.226 917.707 850.121 917.837 851.42 917.837H855.378C857.88 917.837 859.78 918.37 861.079 919.437C862.378 920.503 863.027 922.041 863.027 924.051C863.027 926.621 861.968 928.604 859.849 929.998C857.729 931.393 854.667 932.09 850.661 932.09C847.571 932.09 845.213 931.543 843.586 930.449C841.959 929.355 841.146 927.797 841.146 925.773C841.146 924.379 841.583 923.203 842.458 922.246C843.347 921.303 844.584 920.646 846.17 920.277C845.527 920.004 844.994 919.566 844.57 918.965C844.16 918.35 843.955 917.707 843.955 917.037C843.955 916.189 844.194 915.472 844.673 914.884C845.151 914.296 845.862 913.715 846.806 913.141C845.63 912.635 844.673 911.814 843.935 910.68C843.21 909.531 842.848 908.191 842.848 906.66C842.848 904.199 843.62 902.292 845.165 900.938C846.724 899.585 848.938 898.908 851.81 898.908C852.452 898.908 853.122 898.956 853.819 899.052C854.53 899.134 855.063 899.223 855.419 899.318H863.273ZM845.452 925.527C845.452 926.566 845.917 927.366 846.847 927.927C847.79 928.487 849.109 928.768 850.805 928.768C853.43 928.768 855.385 928.392 856.67 927.64C857.955 926.888 858.598 925.89 858.598 924.646C858.598 923.661 858.242 922.957 857.531 922.533C856.834 922.123 855.528 921.918 853.614 921.918H849.964C848.583 921.918 847.482 922.239 846.662 922.882C845.855 923.538 845.452 924.42 845.452 925.527ZM847.523 906.66C847.523 908.082 847.886 909.176 848.61 909.941C849.349 910.707 850.401 911.09 851.769 911.09C854.558 911.09 855.952 909.6 855.952 906.619C855.952 905.143 855.604 904.008 854.906 903.215C854.223 902.408 853.177 902.005 851.769 902.005C850.374 902.005 849.314 902.401 848.59 903.194C847.879 903.987 847.523 905.143 847.523 906.66ZM887.616 910.618C887.616 914.323 886.666 917.215 884.766 919.293C882.865 921.371 880.22 922.41 876.829 922.41C874.71 922.41 872.837 921.932 871.21 920.975C869.583 920.018 868.332 918.644 867.457 916.853C866.582 915.062 866.145 912.983 866.145 910.618C866.145 906.94 867.088 904.069 868.975 902.005C870.861 899.94 873.521 898.908 876.952 898.908C880.233 898.908 882.831 899.968 884.745 902.087C886.659 904.192 887.616 907.036 887.616 910.618ZM871.107 910.618C871.107 915.854 873.042 918.473 876.911 918.473C880.739 918.473 882.653 915.854 882.653 910.618C882.653 905.437 880.726 902.846 876.87 902.846C874.847 902.846 873.377 903.516 872.461 904.855C871.559 906.195 871.107 908.116 871.107 910.618ZM898.178 917.591C897.521 920.134 896.318 923.408 894.568 927.414H891.021C891.964 923.723 892.668 920.291 893.133 917.119H897.87L898.178 917.591ZM920.49 922L911.877 899.318H916.963L921.577 912.505C922.37 914.72 922.849 916.511 923.013 917.878H923.177C923.3 916.894 923.778 915.103 924.612 912.505L929.227 899.318H934.354L925.699 922H920.49ZM942.618 922H937.799V899.318H942.618V922ZM937.512 893.31C937.512 892.448 937.744 891.785 938.209 891.32C938.688 890.855 939.364 890.623 940.239 890.623C941.087 890.623 941.743 890.855 942.208 891.32C942.687 891.785 942.926 892.448 942.926 893.31C942.926 894.13 942.687 894.779 942.208 895.258C941.743 895.723 941.087 895.955 940.239 895.955C939.364 895.955 938.688 895.723 938.209 895.258C937.744 894.779 937.512 894.13 937.512 893.31ZM957.179 922.41C954.349 922.41 952.141 921.385 950.555 919.334C948.969 917.283 948.176 914.405 948.176 910.7C948.176 906.981 948.976 904.09 950.575 902.025C952.188 899.947 954.417 898.908 957.261 898.908C960.241 898.908 962.511 900.009 964.069 902.21H964.315C964.083 900.583 963.967 899.298 963.967 898.354V890.09H968.807V922H965.033L964.192 919.026H963.967C962.422 921.282 960.159 922.41 957.179 922.41ZM958.471 918.514C960.453 918.514 961.896 917.96 962.798 916.853C963.7 915.731 964.165 913.92 964.192 911.418V910.741C964.192 907.884 963.728 905.854 962.798 904.65C961.868 903.447 960.412 902.846 958.43 902.846C956.734 902.846 955.429 903.536 954.513 904.917C953.597 906.284 953.139 908.239 953.139 910.782C953.139 913.298 953.583 915.219 954.472 916.545C955.36 917.857 956.693 918.514 958.471 918.514ZM985.603 922.41C982.075 922.41 979.313 921.385 977.317 919.334C975.335 917.27 974.344 914.433 974.344 910.823C974.344 907.118 975.267 904.206 977.112 902.087C978.958 899.968 981.494 898.908 984.721 898.908C987.715 898.908 990.08 899.817 991.816 901.636C993.553 903.454 994.421 905.956 994.421 909.142V911.746H979.307C979.375 913.947 979.97 915.643 981.091 916.832C982.212 918.008 983.791 918.596 985.828 918.596C987.168 918.596 988.412 918.473 989.561 918.227C990.723 917.967 991.967 917.543 993.293 916.955V920.872C992.117 921.433 990.928 921.829 989.725 922.062C988.521 922.294 987.147 922.41 985.603 922.41ZM984.721 902.559C983.189 902.559 981.959 903.044 981.029 904.015C980.113 904.985 979.566 906.4 979.389 908.26H989.684C989.656 906.387 989.205 904.972 988.33 904.015C987.455 903.044 986.252 902.559 984.721 902.559ZM1020.01 910.618C1020.01 914.323 1019.06 917.215 1017.16 919.293C1015.26 921.371 1012.62 922.41 1009.23 922.41C1007.11 922.41 1005.24 921.932 1003.61 920.975C1001.98 920.018 1000.73 918.644 999.855 916.853C998.98 915.062 998.543 912.983 998.543 910.618C998.543 906.94 999.486 904.069 1001.37 902.005C1003.26 899.94 1005.92 898.908 1009.35 898.908C1012.63 898.908 1015.23 899.968 1017.14 902.087C1019.06 904.192 1020.01 907.036 1020.01 910.618ZM1003.51 910.618C1003.51 915.854 1005.44 918.473 1009.31 918.473C1013.14 918.473 1015.05 915.854 1015.05 910.618C1015.05 905.437 1013.12 902.846 1009.27 902.846C1007.25 902.846 1005.78 903.516 1004.86 904.855C1003.96 906.195 1003.51 908.116 1003.51 910.618ZM1030.58 917.591C1029.92 920.134 1028.72 923.408 1026.97 927.414H1023.42C1024.36 923.723 1025.07 920.291 1025.53 917.119H1030.27L1030.58 917.591ZM1066.32 922L1063.39 911.418C1063.03 910.297 1062.39 907.692 1061.46 903.604H1061.28C1060.48 907.296 1059.85 909.914 1059.39 911.459L1056.38 922H1051.04L1044.69 899.318H1049.61L1052.5 910.495C1053.16 913.257 1053.62 915.622 1053.89 917.591H1054.02C1054.15 916.593 1054.36 915.451 1054.63 914.166C1054.92 912.867 1055.17 911.896 1055.37 911.254L1058.82 899.318H1064.11L1067.45 911.254C1067.65 911.924 1067.91 912.949 1068.21 914.33C1068.52 915.711 1068.71 916.784 1068.76 917.55H1068.93C1069.13 915.868 1069.61 913.517 1070.36 910.495L1073.29 899.318H1078.13L1071.74 922H1066.32ZM1091.96 922.41C1088.43 922.41 1085.67 921.385 1083.67 919.334C1081.69 917.27 1080.7 914.433 1080.7 910.823C1080.7 907.118 1081.62 904.206 1083.47 902.087C1085.31 899.968 1087.85 898.908 1091.07 898.908C1094.07 898.908 1096.43 899.817 1098.17 901.636C1099.91 903.454 1100.77 905.956 1100.77 909.142V911.746H1085.66C1085.73 913.947 1086.32 915.643 1087.44 916.832C1088.57 918.008 1090.14 918.596 1092.18 918.596C1093.52 918.596 1094.77 918.473 1095.91 918.227C1097.08 917.967 1098.32 917.543 1099.65 916.955V920.872C1098.47 921.433 1097.28 921.829 1096.08 922.062C1094.88 922.294 1093.5 922.41 1091.96 922.41ZM1091.07 902.559C1089.54 902.559 1088.31 903.044 1087.38 904.015C1086.47 904.985 1085.92 906.4 1085.74 908.26H1096.04C1096.01 906.387 1095.56 904.972 1094.68 904.015C1093.81 903.044 1092.61 902.559 1091.07 902.559ZM1117.84 898.908C1120.67 898.908 1122.87 899.934 1124.44 901.984C1126.03 904.035 1126.82 906.913 1126.82 910.618C1126.82 914.337 1126.02 917.235 1124.42 919.313C1122.82 921.378 1120.6 922.41 1117.75 922.41C1114.88 922.41 1112.66 921.378 1111.07 919.313H1110.74L1109.86 922H1106.25V890.09H1111.07V897.678C1111.07 898.238 1111.04 899.072 1110.99 900.18C1110.93 901.287 1110.89 901.991 1110.86 902.292H1111.07C1112.6 900.036 1114.86 898.908 1117.84 898.908ZM1116.59 902.846C1114.64 902.846 1113.24 903.42 1112.38 904.568C1111.53 905.703 1111.1 907.61 1111.07 910.29V910.618C1111.07 913.38 1111.51 915.383 1112.38 916.627C1113.26 917.857 1114.69 918.473 1116.67 918.473C1118.38 918.473 1119.67 917.796 1120.54 916.442C1121.43 915.089 1121.88 913.134 1121.88 910.577C1121.88 905.423 1120.11 902.846 1116.59 902.846ZM1147.66 915.54C1147.66 917.755 1146.85 919.457 1145.24 920.646C1143.62 921.822 1141.31 922.41 1138.3 922.41C1135.28 922.41 1132.86 921.952 1131.02 921.036V916.873C1133.69 918.104 1136.17 918.719 1138.47 918.719C1141.43 918.719 1142.92 917.823 1142.92 916.032C1142.92 915.458 1142.75 914.979 1142.43 914.597C1142.1 914.214 1141.56 913.817 1140.81 913.407C1140.05 912.997 1139.01 912.532 1137.67 912.013C1135.06 911.001 1133.29 909.989 1132.36 908.978C1131.44 907.966 1130.98 906.653 1130.98 905.04C1130.98 903.099 1131.76 901.595 1133.32 900.528C1134.89 899.448 1137.03 898.908 1139.72 898.908C1142.38 898.908 1144.91 899.448 1147.29 900.528L1145.73 904.158C1143.28 903.146 1141.22 902.641 1139.55 902.641C1137.01 902.641 1135.74 903.365 1135.74 904.814C1135.74 905.525 1136.07 906.127 1136.72 906.619C1137.39 907.111 1138.84 907.788 1141.07 908.649C1142.95 909.374 1144.31 910.037 1145.15 910.639C1146 911.24 1146.63 911.938 1147.04 912.73C1147.45 913.51 1147.66 914.446 1147.66 915.54ZM1157.7 922H1152.88V899.318H1157.7V922ZM1152.6 893.31C1152.6 892.448 1152.83 891.785 1153.29 891.32C1153.77 890.855 1154.45 890.623 1155.33 890.623C1156.17 890.623 1156.83 890.855 1157.29 891.32C1157.77 891.785 1158.01 892.448 1158.01 893.31C1158.01 894.13 1157.77 894.779 1157.29 895.258C1156.83 895.723 1156.17 895.955 1155.33 895.955C1154.45 895.955 1153.77 895.723 1153.29 895.258C1152.83 894.779 1152.6 894.13 1152.6 893.31ZM1173.06 918.514C1174.24 918.514 1175.42 918.329 1176.59 917.96V921.59C1176.06 921.822 1175.37 922.014 1174.52 922.164C1173.69 922.328 1172.82 922.41 1171.92 922.41C1167.35 922.41 1165.07 920.004 1165.07 915.191V902.969H1161.97V900.836L1165.29 899.072L1166.93 894.273H1169.91V899.318H1176.37V902.969H1169.91V915.109C1169.91 916.271 1170.19 917.133 1170.77 917.693C1171.36 918.24 1172.12 918.514 1173.06 918.514ZM1191.05 922.41C1187.52 922.41 1184.76 921.385 1182.76 919.334C1180.78 917.27 1179.79 914.433 1179.79 910.823C1179.79 907.118 1180.71 904.206 1182.56 902.087C1184.41 899.968 1186.94 898.908 1190.17 898.908C1193.16 898.908 1195.53 899.817 1197.26 901.636C1199 903.454 1199.87 905.956 1199.87 909.142V911.746H1184.75C1184.82 913.947 1185.42 915.643 1186.54 916.832C1187.66 918.008 1189.24 918.596 1191.28 918.596C1192.62 918.596 1193.86 918.473 1195.01 918.227C1196.17 917.967 1197.41 917.543 1198.74 916.955V920.872C1197.56 921.433 1196.38 921.829 1195.17 922.062C1193.97 922.294 1192.59 922.41 1191.05 922.41ZM1190.17 902.559C1188.64 902.559 1187.41 903.044 1186.48 904.015C1185.56 904.985 1185.01 906.4 1184.84 908.26H1195.13C1195.1 906.387 1194.65 904.972 1193.78 904.015C1192.9 903.044 1191.7 902.559 1190.17 902.559ZM1236.37 910.618C1236.37 914.323 1235.42 917.215 1233.52 919.293C1231.62 921.371 1228.98 922.41 1225.58 922.41C1223.47 922.41 1221.59 921.932 1219.97 920.975C1218.34 920.018 1217.09 918.644 1216.21 916.853C1215.34 915.062 1214.9 912.983 1214.9 910.618C1214.9 906.94 1215.84 904.069 1217.73 902.005C1219.62 899.94 1222.28 898.908 1225.71 898.908C1228.99 898.908 1231.59 899.968 1233.5 902.087C1235.42 904.192 1236.37 907.036 1236.37 910.618ZM1219.86 910.618C1219.86 915.854 1221.8 918.473 1225.67 918.473C1229.5 918.473 1231.41 915.854 1231.41 910.618C1231.41 905.437 1229.48 902.846 1225.63 902.846C1223.6 902.846 1222.13 903.516 1221.22 904.855C1220.31 906.195 1219.86 908.116 1219.86 910.618ZM1253.43 898.908C1254.41 898.908 1255.21 898.977 1255.83 899.113L1255.36 903.604C1254.68 903.44 1253.97 903.358 1253.23 903.358C1251.3 903.358 1249.74 903.987 1248.53 905.245C1247.34 906.503 1246.75 908.137 1246.75 910.146V922H1241.93V899.318H1245.7L1246.34 903.317H1246.58C1247.34 901.964 1248.31 900.891 1249.52 900.098C1250.73 899.305 1252.04 898.908 1253.43 898.908ZM1285.16 922L1284.2 918.842H1284.03C1282.94 920.223 1281.84 921.166 1280.73 921.672C1279.62 922.164 1278.2 922.41 1276.46 922.41C1274.24 922.41 1272.49 921.809 1271.24 920.605C1269.99 919.402 1269.37 917.7 1269.37 915.499C1269.37 913.161 1270.24 911.397 1271.97 910.208C1273.71 909.019 1276.36 908.369 1279.91 908.26L1283.83 908.137V906.927C1283.83 905.478 1283.49 904.397 1282.8 903.687C1282.13 902.962 1281.09 902.6 1279.66 902.6C1278.5 902.6 1277.39 902.771 1276.32 903.112C1275.25 903.454 1274.23 903.857 1273.25 904.322L1271.69 900.877C1272.92 900.234 1274.26 899.749 1275.73 899.421C1277.19 899.079 1278.57 898.908 1279.87 898.908C1282.75 898.908 1284.93 899.537 1286.39 900.795C1287.87 902.053 1288.61 904.028 1288.61 906.722V922H1285.16ZM1277.98 918.719C1279.73 918.719 1281.13 918.233 1282.19 917.263C1283.25 916.278 1283.79 914.904 1283.79 913.141V911.172L1280.87 911.295C1278.6 911.377 1276.95 911.76 1275.91 912.443C1274.89 913.113 1274.37 914.146 1274.37 915.54C1274.37 916.552 1274.67 917.338 1275.28 917.898C1275.88 918.445 1276.78 918.719 1277.98 918.719ZM1306.84 922.41C1303.97 922.41 1301.74 921.378 1300.15 919.313H1299.86C1300.06 921.228 1300.15 922.39 1300.15 922.8V932.09H1295.33V899.318H1299.23C1299.34 899.742 1299.56 900.754 1299.91 902.354H1300.15C1301.66 900.057 1303.91 898.908 1306.92 898.908C1309.75 898.908 1311.95 899.934 1313.52 901.984C1315.11 904.035 1315.9 906.913 1315.9 910.618C1315.9 914.323 1315.09 917.215 1313.48 919.293C1311.88 921.371 1309.67 922.41 1306.84 922.41ZM1305.67 902.846C1303.75 902.846 1302.35 903.406 1301.46 904.527C1300.59 905.648 1300.15 907.439 1300.15 909.9V910.618C1300.15 913.38 1300.59 915.383 1301.46 916.627C1302.34 917.857 1303.77 918.473 1305.75 918.473C1307.42 918.473 1308.7 917.789 1309.61 916.422C1310.51 915.055 1310.96 913.106 1310.96 910.577C1310.96 908.034 1310.51 906.113 1309.61 904.814C1308.72 903.502 1307.4 902.846 1305.67 902.846ZM1333 922.41C1330.13 922.41 1327.91 921.378 1326.32 919.313H1326.03C1326.22 921.228 1326.32 922.39 1326.32 922.8V932.09H1321.5V899.318H1325.4C1325.51 899.742 1325.73 900.754 1326.07 902.354H1326.32C1327.82 900.057 1330.08 898.908 1333.09 898.908C1335.92 898.908 1338.12 899.934 1339.69 901.984C1341.28 904.035 1342.07 906.913 1342.07 910.618C1342.07 914.323 1341.26 917.215 1339.65 919.293C1338.05 921.371 1335.83 922.41 1333 922.41ZM1331.84 902.846C1329.92 902.846 1328.52 903.406 1327.63 904.527C1326.76 905.648 1326.32 907.439 1326.32 909.9V910.618C1326.32 913.38 1326.76 915.383 1327.63 916.627C1328.51 917.857 1329.94 918.473 1331.92 918.473C1333.59 918.473 1334.87 917.789 1335.77 916.422C1336.68 915.055 1337.13 913.106 1337.13 910.577C1337.13 908.034 1336.68 906.113 1335.77 904.814C1334.88 903.502 1333.57 902.846 1331.84 902.846ZM1350.03 912.895V911.582C1350.03 910.078 1350.3 908.827 1350.85 907.829C1351.39 906.831 1352.35 905.799 1353.72 904.732C1355.34 903.447 1356.39 902.449 1356.86 901.738C1357.33 901.027 1357.57 900.18 1357.57 899.195C1357.57 898.047 1357.19 897.165 1356.42 896.55C1355.66 895.935 1354.56 895.627 1353.12 895.627C1351.82 895.627 1350.62 895.812 1349.51 896.181C1348.41 896.55 1347.33 896.994 1346.27 897.514L1344.55 893.904C1347.33 892.359 1350.3 891.587 1353.47 891.587C1356.15 891.587 1358.28 892.243 1359.85 893.556C1361.42 894.868 1362.21 896.68 1362.21 898.99C1362.21 900.016 1362.06 900.932 1361.76 901.738C1361.46 902.531 1361 903.29 1360.38 904.015C1359.78 904.739 1358.74 905.683 1357.25 906.845C1355.97 907.843 1355.12 908.67 1354.68 909.326C1354.26 909.982 1354.05 910.864 1354.05 911.972V912.895H1350.03ZM1349.19 919.437C1349.19 917.372 1350.19 916.34 1352.2 916.34C1353.18 916.34 1353.94 916.613 1354.46 917.16C1354.98 917.693 1355.24 918.452 1355.24 919.437C1355.24 920.407 1354.97 921.18 1354.44 921.754C1353.92 922.314 1353.17 922.595 1352.2 922.595C1351.23 922.595 1350.48 922.321 1349.96 921.774C1349.45 921.214 1349.19 920.435 1349.19 919.437Z" fill="white" /> -->

        <g id="Cloud1" opacity="0.5">
          <path id="Vector_55" opacity="0.4" d="M51.6 189H34.2C29.1 189 25 184.9 25 179.8C25 174.7 29.1 170.6 34.2 170.6H51.5C56.6 170.6 60.7 174.7 60.7 179.8C60.7 184.9 56.6 189 51.6 189Z" fill="#E5EDEF" />
          <path id="Vector_56" opacity="0.4" d="M198.9 179.8C198.9 184.8 194.8 189 189.7 189H76.3C71.3 189 67.1 184.9 67.1 179.8C67.1 174.7 71.2 170.6 76.3 170.6H123.5C125.9 154.6 139.7 142.2 156.5 142.2C173.2 142.2 187 154.5 189.5 170.6H189.9C194.8 170.6 198.9 174.8 198.9 179.8Z" fill="#E5EDEF" />
        </g>
        <g id="Cloud2">
          <g id="Group">
            <path id="Vector_57" d="M672 136H654.1H650.8C638.3 136 642.6 120.6 642.6 120.6C646.2 114.3 648.2 107 648.2 99.2C648.2 75.3 629 55.9 605.3 55.9C585.5 55.9 568.9 69.4 563.9 87.7C559.7 85.3 554.8 83.9 549.6 83.9C537.1 83.9 526.5 91.9 522.4 103.1C520.3 102.4 518.1 102.1 515.8 102.1C503.6 102.1 493.6 112.1 493.6 124.4C493.6 124.6 493.6 124.8 493.6 125.1C493.7 127.5 493.1 136 482.3 136H479H427.5C423.9 136 421 138.9 421 142.5C421 146.1 423.9 149 427.5 149H672C675.6 149 678.5 146.1 678.5 142.5C678.5 138.9 675.6 136 672 136Z" fill="#E5EDEF" />
            <path id="Vector_58" d="M404.6 148.9H377.4C373.8 148.9 370.9 146 370.9 142.4C370.9 138.8 373.8 135.9 377.4 135.9H404.6C408.2 135.9 411.1 138.8 411.1 142.4C411 145.9 408.1 148.9 404.6 148.9Z" fill="#E5EDEF" />
            <path id="Vector_59" d="M352.2 148.9C348.6 148.9 345.7 146 345.7 142.4C345.7 138.8 348.6 135.9 352.2 135.9C355.8 135.9 358.7 138.8 358.7 142.4C358.6 145.9 355.7 148.9 352.2 148.9Z" fill="#E5EDEF" />
          </g>
        </g>
        <g id="Cloud3" opacity="0.25">
          <path id="Vector_60" opacity="0.4" d="M913.808 95H890.385C883.519 95 878 89.4808 878 82.6154C878 75.75 883.519 70.2308 890.385 70.2308H913.673C920.538 70.2308 926.058 75.75 926.058 82.6154C926.058 89.4808 920.538 95 913.808 95Z" fill="#E5EDEF" />
          <path id="Vector_61" opacity="0.4" d="M1112.1 82.6154C1112.1 89.3462 1106.58 95 1099.71 95H947.058C940.327 95 934.673 89.4808 934.673 82.6154C934.673 75.75 940.192 70.2308 947.058 70.2308H1010.6C1013.83 48.6923 1032.4 32 1055.02 32C1077.5 32 1096.08 48.5577 1099.44 70.2308H1099.98C1106.58 70.2308 1112.1 75.8846 1112.1 82.6154Z" fill="#E5EDEF" />
        </g>
        <g id="Cloud4">
          <path id="Vector_62" opacity="0.7" d="M1574.8 131.1H1559.5H1556.7C1546 131.1 1549.7 117.9 1549.7 117.9C1552.8 112.5 1554.5 106.2 1554.5 99.6C1554.5 79.1 1538 62.5 1517.8 62.5C1500.9 62.5 1486.6 74 1482.4 89.7C1478.8 87.6 1474.6 86.4 1470.1 86.4C1459.4 86.4 1450.3 93.2 1446.8 102.8C1445 102.2 1443.1 101.9 1441.1 101.9C1430.6 101.9 1422.1 110.5 1422.1 121C1422.1 121.2 1422.1 121.4 1422.1 121.6C1422.1 123.7 1421.6 130.9 1412.5 130.9H1409.7H1365.6C1362.5 130.9 1360 133.4 1360 136.5C1360 139.6 1362.5 142.1 1365.6 142.1H1574.9C1578 142.1 1580.5 139.6 1580.5 136.5C1580.4 133.6 1577.9 131.1 1574.8 131.1Z" fill="#E5EDEF" />
          <path id="Vector_63" opacity="0.7" d="M1343.8 142.2C1340.7 142.2 1338.3 139.7 1338.3 136.7C1338.3 133.6 1340.8 131.2 1343.8 131.2C1346.9 131.2 1349.3 133.7 1349.3 136.7C1349.3 139.7 1346.8 142.2 1343.8 142.2Z" fill="#E5EDEF" />
          <path id="Vector_64" opacity="0.7" d="M1592.9 142.2C1589.8 142.2 1587.4 139.7 1587.4 136.7C1587.4 133.6 1589.9 131.2 1592.9 131.2C1596 131.2 1598.4 133.7 1598.4 136.7C1598.5 139.7 1596 142.2 1592.9 142.2Z" fill="#E5EDEF" />
        </g>
        <g id="Logo">
          <g id="Group_2">
            <path
              id="Vector_65"
              d="M67.7 80.1L84.5 70.5C84.9 70.3 85.2 69.8 85.2 69.3V50.5C85.2 50 84.9 49.6 84.5 49.4L68.2 39.9C67.8 39.7 67.3 39.7 66.9 39.9L50.6 49.2C50.2 49.4 49.9 49.9 49.9 50.3V70V88.2C49.9 89.2 51 89.9 51.9 89.4L67.7 80.1ZM82 67.6L70.7 61C69.8 60.5 69.8 59.2 70.7 58.7L82.1 52.2C83 51.7 84.1 52.3 84.1 53.4L84 66.5C84 67.5 82.9 68.1 82 67.6ZM70.2 42.3L81.5 48.9C82.4 49.4 82.4 50.7 81.5 51.2L70.1 57.7C69.2 58.2 68.1 57.6 68.1 56.5L68.2 43.4C68.2 42.5 69.3 41.8 70.2 42.3ZM70.1 62.1L81.4 68.7C82.3 69.2 82.3 70.5 81.4 71L70.1 77.5C69.2 78 68.1 77.4 68.1 76.3L68.2 63.2C68.1 62.2 69.3 61.5 70.1 62.1ZM64.9 77.4L53.6 70.8C52.7 70.3 52.7 69 53.6 68.5L65 62C65.9 61.5 67 62.1 67 63.2L66.9 76.3C66.9 77.3 65.8 77.9 64.9 77.4ZM67.1 43.5L67 56.6C67 57.6 65.9 58.3 65 57.7L53.7 51.1C52.8 50.6 52.8 49.3 53.7 48.8L65.1 42.3C66 41.8 67.1 42.5 67.1 43.5ZM53.1 52.1L64.4 58.7C65.3 59.2 65.3 60.5 64.4 61L53 67.5C52.1 68 51 67.4 51 66.3L51.1 53.2C51.1 52.2 52.3 51.6 53.1 52.1ZM53.1 71.8L64.4 78.4C65.3 78.9 65.3 80.2 64.4 80.7L53 87.2C52.1 87.7 51 87.1 51 86L51.1 73C51.1 71.9 52.2 71.3 53.1 71.8Z"
              fill="white"
              stroke="white"
              stroke-width="2"
              stroke-miterlimit="10"
            />
            <path id="Vector_66" opacity="0.2" d="M96.6 102.1H37.6C32.4 102.1 28.3 97.9 28.3 92.8V33.8C28.3 28.6 32.5 24.5 37.6 24.5H96.5C101.7 24.5 105.8 28.7 105.8 33.8V92.7C105.9 97.9 101.7 102.1 96.6 102.1Z" fill="white" />
          </g>
        </g>
      </g>
      <defs>
        <radialGradient
          id="paint0_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(960.084 540) scale(778.794)"
        >
          <stop stop-color="#01B4FD" />
          <stop offset="1" stop-color="#009AF9" />
        </radialGradient>
        <clipPath id="clip0">
          <rect width="1920" height="1080" fill="white" />
        </clipPath>
      </defs>
    </svg>
</div>
  
  </div>
</div>

